In [1]:
training_set = [['me free lottery', 1], ['free get free you', 1], ['you free scholarship', 0], ['free to contact me', 0], 
               ['you won award', 0], ['you ticket lottery', 1]]
test_set = ['free lottery']

In [2]:
# spam인 경우에 대한 단어 쪼개기(split)
spam_words = []
for i in training_set:
    if i[1] == 1:
        spam_words.extend(i[0].split(" "))
print(spam_words)

['me', 'free', 'lottery', 'free', 'get', 'free', 'you', 'you', 'ticket', 'lottery']

In [3]:
# normal인 경우에 대한 단어 쪼개기(split)
normal_words = []
for i in training_set:
    if i[1] == 0:
        normal_words.extend(i[0].split(" "))
print(normal_words)

['you', 'free', 'scholarship', 'free', 'to', 'contact', 'me', 'you', 'won', 'award']

In [4]:
# spam과 normal에서 쪼개진 모든 단어를 리스트에 담은 후 중복 제거
return_words = []
for i in training_set:
    return_words.extend(i[0].split(" "))
words = set(return_words)
words = list(words)
print(words)

['lottery', 'contact', 'won', 'award', 'you', 'scholarship', 'to', 'ticket', 'me', 'get', 'free']

In [5]:
# 각 단어에 대한 spam, normal에 대한 dataframe 생성
import pandas as pd
df = pd.DataFrame({"tokens": words, "spam": [0 for i in range(len(words))], "normal": [0 for i in range(len(words))]})
df

         tokens  spam  normal
0       lottery     0       0
1       contact     0       0
2           won     0       0
3         award     0       0
4           you     0       0
5   scholarship     0       0
6            to     0       0
7        ticket     0       0
8            me     0       0
9           get     0       0
10         free     0       0

In [6]:
# 조건에 따라 spam, normal개수 count
for i in spam_words:
    df.loc[df["tokens"] == i, "spam"] += 1
for j in normal_words:
    df.loc[df["tokens"] == j, "normal"] += 1
df

         tokens  spam  normal
0       lottery     2       0
1       contact     0       1
2           won     0       1
3         award     0       1
4           you     2       2
5   scholarship     0       1
6            to     0       1
7        ticket     1       0
8            me     1       1
9           get     1       0
10         free     3       2

In [7]:
# 각각의 조건부 확률 계산
k = 0.5
df["P(w|spam)"] = (k + df["spam"])/ (k * 2 + df["spam"].sum())
df

         tokens  spam  normal  P(w|spam)
0       lottery     2       0   0.227273
1       contact     0       1   0.045455
2           won     0       1   0.045455
3         award     0       1   0.045455
4           you     2       2   0.227273
5   scholarship     0       1   0.045455
6            to     0       1   0.045455
7        ticket     1       0   0.136364
8            me     1       1   0.136364
9           get     1       0   0.136364
10         free     3       2   0.318182

In [8]:
df["P(w|normal)"] = (k + df["normal"]) / (k * 2 + df["normal"].sum())
df

         tokens  spam  normal  P(w|spam)  P(w|normal)
0       lottery     2       0   0.227273     0.045455
1       contact     0       1   0.045455     0.136364
2           won     0       1   0.045455     0.136364
3         award     0       1   0.045455     0.136364
4           you     2       2   0.227273     0.227273
5   scholarship     0       1   0.045455     0.136364
6            to     0       1   0.045455     0.136364
7        ticket     1       0   0.136364     0.045455
8            me     1       1   0.136364     0.136364
9           get     1       0   0.136364     0.045455
10         free     3       2   0.318182     0.227273

In [9]:
import numpy as np
log_df = np.log(df["P(w|spam)"])
df["Log(P(w|spam))"] = log_df
df

         tokens  spam  normal  P(w|spam)  P(w|normal)  Log(P(w|spam))
0       lottery     2       0   0.227273     0.045455       -1.481605
1       contact     0       1   0.045455     0.136364       -3.091042
2           won     0       1   0.045455     0.136364       -3.091042
3         award     0       1   0.045455     0.136364       -3.091042
4           you     2       2   0.227273     0.227273       -1.481605
5   scholarship     0       1   0.045455     0.136364       -3.091042
6            to     0       1   0.045455     0.136364       -3.091042
7        ticket     1       0   0.136364     0.045455       -1.992430
8            me     1       1   0.136364     0.136364       -1.992430
9           get     1       0   0.136364     0.045455       -1.992430
10         free     3       2   0.318182     0.227273       -1.145132

In [10]:
log_df = np.log(df["P(w|normal)"])
df["Log(P(w|normal))"] = log_df
df

,tokens,spam,normal,P(w|spam),P(w|normal),Log(P(w|spam)),Log(P(w|normal))
0,lottery,2,0,0.227273,0.045455,-1.481605,-3.091042
1,contact,0,1,0.045455,0.136364,-3.091042,-1.992430
2,won,0,1,0.045455,0.136364,-3.091042,-1.992430
3,award,0,1,0.045455,0.136364,-3.091042,-1.992430
4,you,2,2,0.227273,0.227273,-1.481605,-1.481605
5,scholarship,0,1,0.045455,0.136364,-3.091042,-1.992430
6,to,0,1,0.045455,0.136364,-3.091042,-1.992430
7,ticket,1,0,0.136364,0.045455,-1.992430,-3.091042
8,me,1,1,0.136364,0.136364,-1.992430,-1.992430
9,get,1,0,0.136364,0.045455,-1.992430,-3.091042
10,free,3,2,0.318182,0.227273,-1.145132,-1.481605

In [11]:
total_df = pd.DataFrame({"tokens": ["spam", "normal"], "P(label)": [df["spam"].sum() / (df["spam"].sum() + df["normal"].sum()), 
                                                                    df["normal"].sum() / (df["spam"].sum() + df["normal"].sum())]})
total_df

   tokens  P(label)
0    spam       0.5
1  normal       0.5

In [12]:
total_log = np.log(total_df["P(label)"])
total_df["Log(label)"] = total_log
total_df

   tokens  P(label)  Log(label)
0    spam       0.5   -0.693147
1  normal       0.5   -0.693147

In [13]:
# 키워드 생성후 검증
key_word = "free lottery"
key_word_split = key_word.split(" ")
key_word_split

['free', 'lottery']

In [14]:
# 특정 키워드의 Log(P(w|spam))값 조회
list(df[df["tokens"] == "free"]["Log(P(w|spam))"])

[-1.1451323043030026]

In [15]:
# 특정 키워드가 tokens에 없는 경우
list(df[df["tokens"] == "like"]["Log(P(w|spam))"])

[]

In [16]:
# key_word가 spam일 확률(log_spam값이 클수록 확률이 높다는 뜻)
log_spam = total_df[total_df["tokens"] == "spam"]["Log(label)"]
for i in key_word_split:
    if list(df[df["tokens"] == i]["Log(P(w|spam))"]) != []:
        log_spam += list(df[df["tokens"] == i]["Log(P(w|spam))"])[0]
log_spam

0   -3.319884
Name: Log(label), dtype: float64

In [17]:
# key_word가 spam이 아니고, normal일 확률(log_normal값이 클수록 확률이 높다는 뜻)
log_normal = total_df[total_df["tokens"] == "normal"]["Log(label)"]
for i in key_word_split:
    if list(df[df["tokens"] == i]["Log(P(w|normal))"]) != []:
        log_normal += list(df[df["tokens"] == i]["Log(P(w|normal))"])[0]
log_normal

1   -5.265794
Name: Log(label), dtype: float64