In [1]:
training_set = [['me free lottery', 1], ['free get free you', 1], ['you free scholarship', 0], ['free to contact me', 0], 
               ['you won award', 0], ['you ticket lottery', 1]]
test_set = ['free lottery']

In [2]:
# spam인 경우에 대한 단어 쪼개기(split)
spam_words = []
for i in training_set:
    if i[1] == 1:
        spam_words.extend(i[0].split(" "))
print(spam_words)

['me', 'free', 'lottery', 'free', 'get', 'free', 'you', 'you', 'ticket', 'lottery']

In [3]:
# normal인 경우에 대한 단어 쪼개기(split)
normal_words = []
for i in training_set:
    if i[1] == 0:
        normal_words.extend(i[0].split(" "))
print(normal_words)

['you', 'free', 'scholarship', 'free', 'to', 'contact', 'me', 'you', 'won', 'award']

In [4]:
# spam과 normal에서 쪼개진 모든 단어를 리스트에 담은 후 중복 제거
return_words = []
for i in training_set:
    return_words.extend(i[0].split(" "))
words = set(return_words)
words = list(words)
print(words)

['you', 'me', 'to', 'contact', 'lottery', 'get', 'scholarship', 'ticket', 'award', 'free', 'won']

In [5]:
# 각 단어에 대한 spam, normal에 대한 dataframe 생성
import pandas as pd
df = pd.DataFrame({"tokens": words, "spam": [0 for i in range(len(words))], "normal": [0 for i in range(len(words))]})
df

         tokens  spam  normal
0           you     0       0
1            me     0       0
2            to     0       0
3       contact     0       0
4       lottery     0       0
5           get     0       0
6   scholarship     0       0
7        ticket     0       0
8         award     0       0
9          free     0       0
10          won     0       0

In [6]:
# 조건에 따라 spam, normal개수 count
for i in spam_words:
    df.loc[df["tokens"] == i, "spam"] += 1
for j in normal_words:
    df.loc[df["tokens"] == j, "normal"] += 1
df

         tokens  spam  normal
0           you     2       2
1            me     1       1
2            to     0       1
3       contact     0       1
4       lottery     2       0
5           get     1       0
6   scholarship     0       1
7        ticket     1       0
8         award     0       1
9          free     3       2
10          won     0       1

In [7]:
# 각각의 조건부 확률 계산
k = 0.5
df["P(w|spam)"] = (k + df["spam"])/ (k * 2 + df["spam"].sum())
df

         tokens  spam  normal  P(w|spam)
0           you     2       2   0.227273
1            me     1       1   0.136364
2            to     0       1   0.045455
3       contact     0       1   0.045455
4       lottery     2       0   0.227273
5           get     1       0   0.136364
6   scholarship     0       1   0.045455
7        ticket     1       0   0.136364
8         award     0       1   0.045455
9          free     3       2   0.318182
10          won     0       1   0.045455

In [8]:
df["P(w|normal)"] = (k + df["normal"]) / (k * 2 + df["normal"].sum())
df

         tokens  spam  normal  P(w|spam)  P(w|normal)
0           you     2       2   0.227273     0.227273
1            me     1       1   0.136364     0.136364
2            to     0       1   0.045455     0.136364
3       contact     0       1   0.045455     0.136364
4       lottery     2       0   0.227273     0.045455
5           get     1       0   0.136364     0.045455
6   scholarship     0       1   0.045455     0.136364
7        ticket     1       0   0.136364     0.045455
8         award     0       1   0.045455     0.136364
9          free     3       2   0.318182     0.227273
10          won     0       1   0.045455     0.136364

In [9]:
import numpy as np
log_df = np.log(df["P(w|spam)"])
df["Log(P(w|spam))"] = log_df
df

         tokens  spam  normal  P(w|spam)  P(w|normal)  Log(P(w|spam))
0           you     2       2   0.227273     0.227273       -1.481605
1            me     1       1   0.136364     0.136364       -1.992430
2            to     0       1   0.045455     0.136364       -3.091042
3       contact     0       1   0.045455     0.136364       -3.091042
4       lottery     2       0   0.227273     0.045455       -1.481605
5           get     1       0   0.136364     0.045455       -1.992430
6   scholarship     0       1   0.045455     0.136364       -3.091042
7        ticket     1       0   0.136364     0.045455       -1.992430
8         award     0       1   0.045455     0.136364       -3.091042
9          free     3       2   0.318182     0.227273       -1.145132
10          won     0       1   0.045455     0.136364       -3.091042

In [10]:
log_df = np.log(df["P(w|normal)"])
df["Log(P(w|nromal))"] = log_df
df

,tokens,spam,normal,P(w|spam),P(w|normal),Log(P(w|spam)),Log(P(w|nromal))
0,you,2,2,0.227273,0.227273,-1.481605,-1.481605
1,me,1,1,0.136364,0.136364,-1.992430,-1.992430
2,to,0,1,0.045455,0.136364,-3.091042,-1.992430
3,contact,0,1,0.045455,0.136364,-3.091042,-1.992430
4,lottery,2,0,0.227273,0.045455,-1.481605,-3.091042
5,get,1,0,0.136364,0.045455,-1.992430,-3.091042
6,scholarship,0,1,0.045455,0.136364,-3.091042,-1.992430
7,ticket,1,0,0.136364,0.045455,-1.992430,-3.091042
8,award,0,1,0.045455,0.136364,-3.091042,-1.992430
9,free,3,2,0.318182,0.227273,-1.145132,-1.481605
10,won,0,1,0.045455,0.136364,-3.091042,-1.992430